<aside class="col-md-4 sidebar">
    <!-- start widget -->
    <!-- end widget -->

    <!-- start tag cloud widget -->
    <div class="widget">
        <h4 class="title">社区</h4>
        <div class="content community">
            <p>QQ群：462694081</p>
            <p><a href="http://wenda.golaravel.com/" title="Laravel中文网问答社区" target="_blank"
                  onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i
                            class="fa fa-comments"></i> 问答社区</a></p>
        </div>
    </div>
    <!-- end tag cloud widget -->

    <!-- start widget -->
    <div class="widget">
        <h4 class="title">下载</h4>
        <div class="content download">
            <a href="/download/" class="btn btn-default btn-block"
               onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载 Laravel &amp; Lumen'])">Laravel
                &amp; Lumen 一键安装包下载</a>
        </div>
    </div>
    <!-- end widget -->

    <div class="widget">
        <h4 class="title">文档</h4>
        <a href="http://lumen.golaravel.com/docs/" class="btn btn-default btn-block" target="_blank">Lumen
            中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/5.0/" class="btn btn-default btn-block"
           target="_blank">5.0 中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/4.2/" class="btn btn-default btn-block"
           target="_blank">4.2 中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/4.1/" class="btn btn-default btn-block"
           target="_blank">4.1 中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/4.0/" class="btn btn-default btn-block"
           target="_blank">4.0 中文文档</a>
    </div>

    <!-- start tag cloud widget -->
    <div class="widget">
        <h4 class="title">标签云</h4>
        <div class="content tag-cloud">
            <% _defaultData.tags.forEach(function (tag) { %>
            <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
            <a href="/tags/">...</a>
        </div>
    </div>
    <!-- end tag cloud widget -->

    <!-- start widget -->
    <!-- end widget -->

    <!-- start widget -->
    <!-- end widget -->
</aside>