<div class="post-content">
  <div class="ui grid">
    <div class="four wide column">

    </div>

    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/posts/<%= article._id %>"><%= article.title %></a></h3>
        <pre><%- article.content %></pre>

      </div>
    </div>
  </div>
</div>