<%- include('header') %>
<div class="container nav">
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/posts"><h1>myblog</h1></a>
            <p>my first blog</p>
        </div>
    </div>
</div>

<div class="container">
    <ul>
        <li><a>文章列表</a></li>
    </ul>
</div>

<%- include('footer') %>