<%- include('header') %>

<div class="container nav">
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/posts"><h1>myblog</h1></a>
            <p>my first blog</p>
        </div>
    </div>
</div>

<div class="container">
    <form role="form" method="post">
        <div class="field required form-group">
            <label for="nickname">用户名</label>
            <input placeholder="用户名" type="text" name="nickname" class="form-control" id="nickname">
        </div>
        <div class="field required form-group">
            <label for="password">密码</label>
            <input placeholder="密码" type="password" name="password" class="form-control" id="password">
        </div>
        <div class="field required form-group">
            <label for="repassword">重复密码</label>
            <input placeholder="重复密码" type="password" name="repassword" class="form-control" id="password">
        </div>
        <input type="submit" class="btn btn-default btn-block" value="注册">
    </form>
</div>

<%- include('footer') %>